**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [1]:
import pandas as pd

In [2]:
#Loading data
b = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
b.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

u = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
u.columns = ['userID', 'Location', 'Age']

r = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
r.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Check no.of records and features given in each dataset

In [3]:
print(b.shape)
b.info()

(271360, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
ISBN                 271360 non-null object
bookTitle            271360 non-null object
bookAuthor           271359 non-null object
yearOfPublication    271360 non-null object
publisher            271358 non-null object
imageUrlS            271360 non-null object
imageUrlM            271360 non-null object
imageUrlL            271357 non-null object
dtypes: object(8)
memory usage: 16.6+ MB

In [4]:
print(u.shape)
u.info()

(278858, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
userID      278858 non-null int64
Location    278858 non-null object
Age         168096 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [5]:
print(r.shape)
r.info()

(1149780, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
userID        1149780 non-null int64
ISBN          1149780 non-null object
bookRating    1149780 non-null int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

## Exploring books dataset

In [6]:
b.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [7]:
b.drop(['imageUrlS', 'imageUrlM', 'imageUrlL'], axis=1,inplace=True)

In [8]:
b.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [9]:
b['yearOfPublication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [10]:
b[b['yearOfPublication']=='DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [11]:
b = b[~b['yearOfPublication'].isin(['DK Publishing Inc','Gallimard'])]
#books = books[(books.yearOfPublication!='DK Publishing Inc') & (books.yearOfPublication!='Gallimard')]

In [12]:
b['yearOfPublication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', '1943', '1938', '1900', '1942', '1923',
       '1920', '1933', '1909', '1946', '2008', '1378', '2030', '1936',
       '1947', '2011', '2020', '1919', '1949', '1922', '1897', '2024',
       '1376', '1926', '2037'], dtype=object)

### Change the datatype of yearOfPublication to 'int'

In [13]:
b['yearOfPublication'] = b['yearOfPublication'].astype(int)

In [14]:
b.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int32
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [15]:
b['publisher'] = b['publisher'].dropna()

## Exploring Users dataset

In [16]:
print(u.shape)
u.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [17]:
age = u['Age'].unique()
print (sorted(age))

[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 113.0, 114.0, 115.0, 116.0, 118.0, 119.0, 123.0, 124.0, 127.0, 128.0, 132.0, 133.0, 136.0, 137.0, 138.0, 140.0, 141.0, 143.0, 146.0, 147.0, 148.0, 151.0, 152.0, 156.0, 157.0, 159.0, 162.0, 168.0, 172.0, 175.0, 183.0, 186.0, 189.0, 199.0, 200.0, 201.0, 204.0, 207.0, 208.0, 209.0, 210.0, 212.0, 219.0, 220.0, 223.0, 226.0, 228.0, 229.0, 230.0, 231.0, 237.0, 239.0, 244.0]

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [18]:
import numpy as np
u.mask((u['Age'] <5.0) | (u['Age']>90.0), inplace=True)
#users.loc[(users['Age']<5.0) | (users['Age']>90.0),'Age'] = np.NaN

In [19]:
u['Age'].unique()

array([nan, 18., 17., 61., 26., 14., 25., 19., 46., 55., 32., 24., 20.,
       34., 23., 51., 31., 21., 44., 30., 57., 43., 37., 41., 54., 42.,
       50., 39., 53., 47., 36., 28., 35., 13., 58., 49., 38., 45., 62.,
       63., 27., 33., 29., 66., 40., 15., 60., 79., 22., 16., 65., 59.,
       48., 72., 56., 67., 80., 52., 69., 71., 73., 78.,  9., 64., 12.,
       74., 75., 76., 83., 68., 11., 77., 70.,  8.,  7., 81., 10.,  5.,
        6., 84., 82., 90., 85., 86., 87., 89., 88.])

### Replace null values in column `Age` with mean

In [20]:
u['Age'] = u['Age'].fillna(u['Age'].mean())

### Change the datatype of `Age` to `int`

In [21]:
u['Age'] = u['Age'].astype(int)

In [22]:
print(sorted(u.Age.unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

## Exploring the Ratings Dataset

### check the shape

In [23]:
r.shape

(1149780, 3)

In [24]:
n_users = u.shape[0]
n_books = b.shape[0]

In [25]:
r.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [26]:
r = r[r['ISBN'].isin(b['ISBN'])]

In [27]:
r.shape

(1031132, 3)

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [28]:
r = r[r['userID'].isin(u['userID'])]

In [29]:
r.shape

(1026153, 3)

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [30]:
r.bookRating.unique()

array([ 0,  5,  3,  6,  7,  9,  8, 10,  1,  4,  2], dtype=int64)

In [31]:
r = r[r.bookRating!=0]

### Find out which rating has been given highest number of times

In [32]:
r.bookRating.value_counts()

8     91365
10    70963
7     66101
9     60499
5     45154
6     31551
4      7576
3      5082
2      2360
1      1465
Name: bookRating, dtype: int64

Rating 8 is given the highest number of times

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [33]:
user_counts=r['userID'].value_counts()
r_df=r[r['userID'].isin(user_counts[user_counts >=100].index)]

In [34]:
r_df.shape

(102977, 3)

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [35]:
r_df['bookRating'].replace(np.nan,0,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [36]:
# spliting entire dataset into two parts 80-20 split
from sklearn.model_selection import train_test_split

trainDF, tempDF = train_test_split(r_df, test_size = 0.2, random_state = 100)

In [37]:
tempDF.head()

         userID        ISBN  bookRating
449168   107784  0373240848           5
973123   234828  0345389921           7
1048098  250709  0312959974           5
652767   158226  1563895196           7
334598    79441  0805009329           8

In [38]:
testDF = tempDF.copy()
tempDF.bookRating = np.nan

r_df = pd.concat([trainDF, tempDF]).reset_index()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [39]:
r_df.head()

    index  userID        ISBN  bookRating
0  289107   69078  0684842696         9.0
1  940822  227705  0425100057         8.0
2  720986  174304  0920668364         9.0
3  915009  223087  0375503862         6.0
4  229442   52917  0743219600         6.0

In [40]:
ratings_matrix = r_df.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)

In [41]:
ratings_matrix.tail()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
274061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
274301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
275970,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(ratings_matrix, k = 50)
# Strength matrix having latent feature x Latent feature

print(sigma)

[131.53259802 131.86432012 132.62194658 135.71355716 135.74998601
 137.42710262 137.61458589 139.11623808 140.53671845 141.52934212
 143.09431351 143.42518179 143.79823063 145.72180315 148.48930437
 148.54047864 150.03740151 151.5816514  151.8364972  154.93920186
 156.44999175 158.01194694 158.86445587 161.61599517 164.02690612
 165.40832206 166.89550756 167.96299285 170.7193613  171.76113272
 177.39135505 178.01908362 181.20302677 181.26816142 184.67957506
 185.91919256 190.74553062 193.76516402 199.9624407  206.11999775
 212.17433621 219.45118895 222.43615126 231.53427002 237.20302076
 254.50332341 262.57262496 340.63353848 568.22210612 605.4619755 ]

In [43]:
# converting sigma into a diagonal matrix 

sigma = np.diag(sigma)

In [44]:
# Predictions are a dot product of (U, sigma), Vt, Three matrix 

all_users_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [45]:
preds_df = pd.DataFrame(all_users_predicted_ratings, columns = ratings_matrix.columns)
preds_df

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
0,0.019765,-0.014054,-0.009370,-0.014054,0.0,0.006325,-0.017657,0.000147,0.000147,0.0,...,0.0,0.001989,0.008221,-0.020973,0.0,0.002831,0.028006,4.460485e-04,0.002776,0.070793
1,-0.004391,-0.001979,-0.001319,-0.001979,0.0,0.000722,0.002601,-0.002006,-0.002006,0.0,...,0.0,0.000214,-0.000040,0.002929,0.0,0.000894,0.000423,1.227725e-04,0.000715,-0.007688
2,-0.003625,-0.007168,-0.004779,-0.007168,0.0,0.002748,-0.004516,-0.003009,-0.003009,0.0,...,0.0,0.000913,0.016504,0.006033,0.0,0.003161,0.004011,-3.666755e-04,0.003067,-0.039418
3,-0.015641,0.002793,0.001862,0.002793,0.0,0.017471,-0.013903,-0.002316,-0.002316,0.0,...,0.0,0.010260,0.030610,-0.002084,0.0,0.020033,0.001327,2.268140e-03,0.024792,-0.040766
4,0.004365,-0.000885,-0.000590,-0.000885,0.0,-0.003280,0.008802,-0.001147,-0.001147,0.0,...,0.0,-0.000307,-0.023819,0.003060,0.0,-0.000893,-0.006937,6.242962e-04,0.000842,0.063320
5,0.004346,0.027710,0.018474,0.027710,0.0,0.003552,0.033671,-0.002140,-0.002140,0.0,...,0.0,0.001982,0.007801,-0.008640,0.0,0.004679,0.004500,1.024502e-03,0.003752,0.045722
6,-0.012028,0.021382,0.014255,0.021382,0.0,0.005509,0.016232,0.001833,0.001833,0.0,...,0.0,0.003280,0.002375,0.010341,0.0,0.006280,0.001432,1.291474e-03,0.008509,0.022697
7,0.005440,0.008189,0.005459,0.008189,0.0,0.017356,0.002327,0.024070,0.024070,0.0,...,0.0,0.006595,0.023793,0.008097,0.0,0.007661,0.024945,-6.727702e-04,0.013123,-0.033706
8,0.040404,-0.024775,-0.016517,-0.024775,0.0,0.014680,-0.025952,-0.014389,-0.014389,0.0,...,0.0,0.005287,0.022584,0.006779,0.0,0.010189,0.008991,1.252485e-03,0.013504,-0.003636
9,0.038780,-0.003638,-0.002425,-0.003638,0.0,0.035772,-0.015877,-0.027625,-0.027625,0.0,...,0.0,0.014306,0.068642,-0.004761,0.0,0.031868,0.016475,2.397238e-03,0.040687,0.025295
10,-0.003380,-0.002690,-0.001793,-0.002690,0.0,0.001343,-0.003132,-0.001779,-0.001779,0.0,...,0.0,0.000479,0.001748,0.004377,0.0,0.001233,0.001932,3.027388e-04,0.001772,-0.004837
11,0.036901,0.003601,0.002401,0.003601,0.0,0.037227,0.015510,-0.037996,-0.037996,0.0,...,0.0,0.008921,0.107470,-0.019456,0.0,0.025454,0.028311,-2.002760e-03,0.022500,0.019521
12,-0.012645,-0.000580,-0.000386,-0.000580,0.0,0.007010,-0.007046,-0.006255,-0.006255,0.0,...,0.0,0.000501,0.015354,0.005355,0.0,0.001969,0.004174,-1.207234e-03,0.000502,-0.032596
13,-0.002786,-0.013041,-0.008694,-0.013041,0.0,0.010160,-0.012881,0.015001,0.015001,0.0,...,0.0,0.004421,0.024871,-0.002323,0.0,0.011736,0.002333,7.129606e-04,0.013333,0.028494
14,-0.016264,-0.002071,-0.001381,-0.002071,0.0,0.003709,-0.002833,0.003718,0.003718,0.0,...,0.0,0.002590,0.003504,-0.001699,0.0,0.005063,0.004701,1.626308e-03,0.005192,0.160333
15,-0.000208,0.000015,0.000010,0.000015,0.0,-0.000031,-0.000123,-0.000035,-0.000035,0.0,...,0.0,0.000004,-0.000196,0.007514,0.0,-0.000033,-0.000042,4.110994e-07,0.000018,-0.000482
16,0.046520,-0.010778,-0.007185,-0.010778,0.0,0.004449,-0.009281,-0.007099,-0.007099,0.0,...,0.0,0.002062,0.014674,-0.000411,0.0,0.008579,0.003775,-1.921689e-04,0.004454,-0.000862
17,0.000323,-0.000751,-0.000501,-0.000751,0.0,0.008417,-0.000763,-0.000083,-0.000083,0.0,...,0.0,0.001517,0.008629,9.995334,0.0,0.004259,0.000262,1.855331e-03,0.015828,0.002746
18,0.000737,-0.005897,-0.003932,-0.005897,0.0,0.002717,-0.004599,-0.001756,-0.001756,0.0,...,0.0,0.000011,0.016839,-0.004269,0.0,0.002011,0.000194,-6.334440e-04,0.000413,0.059169
19,0.041408,-0.000408,-0.000272,-0.000408,0.0,0.004957,0.008874,-0.001319,-0.001319,0.0,...,0.0,0.002585,0.010722,-0.001628,0.0,0.005505,0.002529,8.001188e-04,0.007161,-0.030799
20,-0.002885,0.001906,0.001271,0.001906,0.0,0.001899,0.021290,0.012492,0.012492,0.0,...,0.0,0.000117,0.021616,-0.003939,0.0,0.002116,0.004732,6.380380e-05,0.000509,0.010167
21,-0.015092,0.030881,0.020588,0.030881,0.0,0.000138,0.030580,-0.004067,-0.004067,0.0,...,0.0,0.001735,0.019911,0.002797,0.0,0.007203,0.010884,7.892246e-04,-0.000035,-0.067950
22,-0.028720,0.025995,0.017330,0.025995,0.0,0.003264,0.047961,-0.017377,-0.017377,0.0,...,0.0,-0.002740,0.085632,0.007392,0.0,0.013056,-0.005185,9.066922e-04,-0.004637,-0.040171
23,0.046663,-0.000382,-0.000255,-0.000382,0.0,0.006937,0.009947,-0.011066,-0.011066,0.0,...,0.0,0.002910,0.014226,0.003563,0.0,0.005789,0.004662,1.063081e-03,0.008102,-0.043919
24,-0.017938,-0.014674,-0.009783,-0.014674,0.0,0.008610,-0.014123,-0.008940,-0.008940,0.0,...,0.0,0.003030,0.022584,0.001883,0.0,0.009498,0.005297,5.280394e-04,0.009164,-0.034651
25,0.010973,0.006427,0.004285,0.006427,0.0,0.002248,0.009715,-0.000081,-0.000081,0.0,...,0.0,0.002147,0.007375,0.010249,0.0,0.003310,0.001344,5.212282e-04,0.004330,0.018285
26,0.004773,0.033362,0.022241,0.033362,0.0,0.002750,0.033409,-0.003607,-0.003607,0.0,...,0.0,0.002173,0.010130,-0.002710,0.0,0.002087,0.011587,1.368929e-04,0.002441,0.011083
27,0.103094,-0.007388,-0.004925,-0.007388,0.0,0.004895,0.105518,-0.006494,-0.006494,0.0,...,0.0,0.008181,0.082766,-0.024040,0.0,0.019317,0.000453,5.998087e-03,0.018134,-0.006352
28,0.010218,0.000316,0.000210,0.000316,0.0,0.007422,0.132855,-0.005056,-0.005056,0.0,...,0.0,-0.009142,-0.077271,-0.004950,0.0,0.001437,-0.026559,8.019611e-03,-0.000604,0.018714
29,0.026384,-0.002260,-0.001507,-0.002260,0.0,0.000263,-0.002236,-0.001080,-0.001080,0.0,...,0.0,0.001091,-0.003479,0.008376,0.0,-0.000091,0.001214,-3.537806e-05,0.000135,0.016004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,0.026334,-0.008658,-0.005772,-0.008658,0.0,0.008849,0.006739,-0.002049,-0.002049,0.0,...,0.0,0.004437,0.036301,0.012551,0.0,0.011332,0.005319,2.330249e-03,0.011142,-0.006332
418,-0.019613,-0.001958,-0.001305,-0.001958,0.0,-0.006006,-0.029513,-0.002542,-0.002542,0.0,...,0.0,-0.004520,-0.026407,0.001844,0.0,-0.006679,-0.007691,-1.343971e-03,0.021828,-0.031080
419,0.030612,-0.005271,-0.003514,-0.005271,0.0,0.000887,0.007882,0.000837,0.000837,0.0,...,0.0,0.000324,0.007901,0.003755,0.0,0.002569,0.003106,4.600028e-04,0.001975,0.040455
420,0.002662,-0.003638,-0.002426,-0.003638,0.0,0.000177,-0.012206,-0.002436,-0.002436,0.0,...,0.0,0.000731,0.006113,0.023625,0.0,0.000961,0.006567,-6.292652e-05,-0.001443,-0.027908
421,-0.025028,-0.003898,-0.002599,-0.003898,0.0,0.017265,0.057303,0.028545,0.028545,0.0,...,0.0,-0.001041,0.224718,0.021428,0.0,0.022229,0.017232,1.696854e-04,0.001826,-0.039858
422,-0.002961,0.004259,0.002840,0.004259,0.0,0.000589,0.004881,0.004040,0.004040,0.0,...,0.0,0.000754,0.002184,0.005296,0.0,0.001008,0.000864,3.463783e-04,0.001298,-0.005053
423,-0.018066,-0.002436,-0.001624,-0.002436,0.0,0.011554,0.007697,0.009737,0.009737,0.0,...,0.0,0.005072,0.050077,-0.010049,0.0,0.014838,0.004510,8.173048e-04,0.014339,-0.081574
424,-0.010782,0.003279,0.002186,0.003279,0.0,0.001259,-0.000667,-0.003516,-0.003516,0.0,...,0.0,0.004131,0.003728,0.012104,0.0,0.005956,0.002124,1.724687e-03,0.010073,0.076400
425,-0.016101,-0.005518,-0.003679,-0.005518,0.0,0.006442,-0.002280,0.010088,0.010088,0.0,...,0.0,0.002620,0.009718,0.024209,0.0,0.007627,-0.000491,7.329149e-05,0.006196,-0.020676
426,-0.003665,0.007597,0.005065,0.007597,0.0,0.000651,0.012076,0.000566,0.000566,0.0,...,0.0,0.000330,0.005915,0.008193,0.0,0.001196,0.000222,-5.301672e-05,0.001095,-0.012380
427,0.027257,-0.003102,-0.002068,-0.003102,0.0,0.002780,0.003593,0.011712,0.011712,0.0,...,0.0,0.001954,0.011596,0.004183,0.0,0.004825,0.003458,4.517964e-04,0.004861,0.064884
428,-0.019917,0.004387,0.002925,0.004387,0.0,0.007837,0.000243,0.017829,0.017829,0.0,...,0.0,0.003069,0.017172,-0.000620,0.0,0.005290,0.011765,-6.343445e-04,0.006705,-0.037352
429,-0.009012,-0.003801,-0.002534,-0.003801,0.0,0.012043,-0.012004,-0.008559,-0.008559,0.0,...,0.0,0.000994,0.032962,0.000683,0.0,0.005064,0.012220,-1.585929e-03,0.004860,-0.047763
430,0.026364,-0.011286,-0.007524,-0.011286,0.0,0.002347,0.012183,0.002040,0.002040,0.0,...,0.0,0.001314,0.023708,0.003955,0.0,0.003906,0.010871,5.869399e-04,0.001671,0.038016
431,-0.015465,-0.011424,-0.007616,-0.011424,0.0,0.008855,-0.015834,-0.007825,-0.007825,0.0,...,0.0,0.002248,-0.023241,-0.003773,0.0,0.001046,0.015097,-1.400523e-03,0.002420,-0.028478
432,-0.015715,-0.006297,-0.004198,-0.006297,0.0,0.005862,-0.000317,-0.007849,-0.007849,0.0,...,0.0,0.002599,0.019300,0.017522,0.0,0.006369,0.002027,1.122485e-04,0.007026,-0.030054
433,-0.010252,0.041194,0.027462,0.041194,0.0,0.003025,0.043393,0.004995,0.004995,0.0,...,0.0,0.002365,0.008947,-0.000341,0.0,0.004442,0.003466,5.974589e-04,0.004367,-0.013356
434,0.002523,0.007108,0.004739,0.007108,0.0,0.012307,-0.008398,0.003093,0.003093,0.0,...,0.0,0.003050,-0.002174,0.002698,0.0,0.007606,0.002827,8.855080e-04,0.009410,-0.040282
435,-0.005320,-0.001453,-0.000968,-0.001453,0.0,-0.000384,0.028796,0.032301,0.032301,0.0,...,0.0,0.000139,0.023649,-0.012475,0.0,0.002927,0.003351,2.363945e-03,-0.001570,-0.035430
436,0.019921,0.016272,0.010848,0.016272,0.0,0.003829,0.017205,-0.004158,-0.004158,0.0,...,0.0,0.001641,0.008470,0.008261,0.0,0.003542,0.004610,6.194936e-05,0.003227,0.019510
437,-0.008410,-0.005151,-0.003434,-0.005151,0.0,0.008266,-0.009016,-0.001396,-0.001396,0.0,...,0.0,0.002842,0.015100,-0.003544,0.0,0.006289,0.010571,2.124537e-04,0.005818,0.105440
438,-0.051328,-0.004728,-0.003152,-0.004728,0.0,0.023086,-0.003859,-0.014434,-0.014434,0.0,...,0.0,0.012461,0.075523,-0.008662,0.0,0.031746,0.010877,3.622535e-04,0.034962,0.004888
439,-0.021707,-0.021589,-0.014393,-0.021589,0.0,0.017454,-0.016671,0.039239,0.039239,0.0,...,0.0,0.006843,0.028679,-0.005564,0.0,0.015572,0.010540,1.852163e-03,0.017512,-0.043158
440,0.032108,0.060694,0.040463,0.060694,0.0,0.006677,0.057980,0.009473,0.009473,0.0,...,0.0,0.003116,0.019155,0.003751,0.0,0.009118,0.012403,8.954985e-04,0.007158,0.192087
441,-0.000068,-0.002125,-0.001417,-0.002125,0.0,-0.001665,-0.002919,-0.002728,-0.002728,0.0,...,0.0,0.000652,-0.040349,0.008511,0.0,-0.001201,-0.002998,-6.744295e-05,-0.001782,-0.012515
442,0.003296,0.005654,0.003769,0.005654,0.0,-0.018510,0.275309,-0.015242,-0.015242,0.0,...,0.0,-0.015478,0.064131,0.000926,0.0,-0.015472,0.009531,1.308381e-03,-0.031651,0.140118
443,0.010665,0.014463,0.009642,0.014463,0.0,0.008215,0.046313,0.018058,0.018058,0.0,...,0.0,0.000013,0.124370,0.008629,0.0,0.013958,0.012390,-8.020803e-04,0.004018,-0.052798
444,0.002873,-0.005028,-0.003352,-0.005028,0.0,0.005873,-0.009208,-0.005982,-0.005982,0.0,...,0.0,0.004399,0.010843,0.007160,0.0,0.007241,0.006328,1.408320e-03,0.010186,0.176589
445,0.039645,-0.016013,-0.010675,-0.016013,0.0,0.008319,-0.009521,-0.009992,-0.009992,0.0,...,0.0,0.002958,0.030129,0.017740,0.0,0.008564,0.005098,-1.314024e-04,0.009005,0.003449
446,-0.003066,0.015349,0.010233,0.015349,0.0,-0.000243,0.016387,0.003880,0.003880,0.0,...,0.0,0.000284,0.000475,0.002153,0.0,0.000583,0.000551,1.431175e-04,0.000367,0.012118

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [46]:
userID = 2110

In [47]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [48]:
sorted_user_predictions = preds_df.loc[user_id].sort_values(ascending = False)
sorted_user_predictions

ISBN
059035342X    0.654127
044021145X    0.473488
0441003435    0.417661
0440211727    0.413928
0345350499    0.406484
0345354931    0.404001
0345368959    0.403138
0345318862    0.402560
043936213X    0.399582
0345370775    0.398111
051511605X    0.392267
0345322231    0.385572
0440213525    0.373708
0345318854    0.372685
0345384911    0.372223
006016848X    0.371408
0316666343    0.368452
069620780X    0.367877
0345313151    0.367766
0385504209    0.367385
0345322215    0.366318
0345313097    0.365528
0812523016    0.365465
1560768304    0.365150
0812517725    0.364035
0380759470    0.362970
0345383273    0.362350
0812551478    0.360556
0812548094    0.360353
0886773776    0.359660
                ...
0374423075   -0.061898
0670852341   -0.061998
0515136530   -0.062008
0440235502   -0.062045
0486275426   -0.063856
0395177111   -0.065355
0140501800   -0.066191
0446674249   -0.066453
0679731180   -0.067418
0142000809   -0.069186
0451198808   -0.069601
0060953225   -0.071336
0385491026   -0.071883
0380973464   -0.073102
0375706062   -0.073613
0684843269   -0.073613
0441102670   -0.075542
0451524934   -0.075857
0316236446   -0.076101
0671769316   -0.078726
0156001314   -0.080697
080505104X   -0.081402
0684853507   -0.082271
0140328696   -0.084182
0671640771   -0.084903
0394832922   -0.084987
0385472943   -0.085163
0743235150   -0.091125
0525941908   -0.094708
0877799156   -0.104244
Name: 2, Length: 66425, dtype: float64

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [49]:
user_data = r_df[r_df.userID == 2110]
user_data.head()

      index  userID        ISBN  bookRating
652   14463    2110  0345317580        10.0
2324  14606    2110  1565111575        10.0
3787  14576    2110  0679805265        10.0
4506  14462    2110  0345314255        10.0
5558  14582    2110  0743486625        10.0

In [50]:
user_data.head()

      index  userID        ISBN  bookRating
652   14463    2110  0345317580        10.0
2324  14606    2110  1565111575        10.0
3787  14576    2110  0679805265        10.0
4506  14462    2110  0345314255        10.0
5558  14582    2110  0743486625        10.0

In [51]:
user_data.shape

(103, 4)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [52]:
user_full_info = (user_data.merge(b, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                sort_values(['bookRating'], ascending = False)
                )
user_full_info.head()

,index,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,14463,2110,0345317580,10.0,Magic Kingdom for Sale - Sold! (Magic Kingdom ...,Terry Brooks,1990,Del Rey Books
19,14553,2110,0590629808,10.0,"The Message (Animorphs , No 4)",K. A. Applegate,1996,Scholastic
36,14508,2110,0439240700,10.0,"The Power of Two (T*Witches, No 1)",H. B. Gilmour,2001,Apple
37,14464,2110,0345335287,10.0,The Black Unicorn (Magic Kingdom of Landover N...,Terry Brooks,1990,Del Rey Books
39,14507,2110,0439222303,10.0,"Poof! Rabbits Everywhere! (Abracadabra!, 1)",Peter Lerangis,2002,Little Apple

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [53]:
# read above first
def recommend_books(predictions_df, userID, books_df, original_ratings_df, num_recommendations = False):
    user_row_number = userID  #UserID starts at zero not 1
    sorted_user_predictions = predictions_df.loc[user_row_number].sort_values(ascending = False)
    
    user_data = original_ratings_df[original_ratings_df.userID == (userID)]
    user_full = (user_data.merge(books_df, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                sort_values(['bookRating'], ascending = False)
                )
    
    # finding the predictions by comparing original data with predictions outputs 
    recommendations = (books_df[~books_df['ISBN'].isin(user_full['ISBN'])].
                      merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
                           left_on = 'ISBN',
                           right_on = 'ISBN').
                      rename(columns = {user_row_number: 'Predictions'}).
                       
                       #sort the predictions 
                      sort_values('Predictions', ascending = False).
                      iloc[:num_recommendations, :-1])
    return user_full, recommendations, sorted_user_predictions, user_data, user_full

In [54]:
already_rated, predictions, sorted_user_predictions, user_data, user_full = recommend_books(preds_df,user_id, b, r_df, 10)

In [55]:
predictions

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
2143,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books
456,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
16588,0441003435,The Adept (Adept),Katherine Kurtz,2003,Ace Books
953,0440211727,A Time to Kill,JOHN GRISHAM,1992,Dell
2122,0345350499,The Mists of Avalon,MARION ZIMMER BRADLEY,1987,Del Rey
174,0345354931,Night Mare (Xanth Novels (Paperback)),Piers Anthony,1990,Del Rey Books
16356,0345368959,The Dolphins of Pern (Dragonriders of Pern (Pa...,Anne McCaffrey,1995,Del Rey Books
20773,0345318862,Golem in the Gears (Xanth Novels (Paperback)),PIERS ANTHONY,1986,Del Rey
9026,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic
1195,0345370775,Jurassic Park,Michael Crichton,1999,Ballantine Books